* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	cursor: default;
}

html {
	scroll-behavior: smooth;
}

::selection{
	background: #ff9852
}

body {
	background: #1C1B21;;
	overflow-x: hidden;

}

header {
/*	height: 1200px;*/
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #1C1B21 92.19%), url('https://images.unsplash.com/photo-1626126525134-fbbc07afb32c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
	background-size: cover;
	background-position: center;
/*  filter: blur(0.6px); */
/*	background-attachment: fixed;*/
}

.header_container {
	margin: 0 auto;
	width: 57%;
	padding-top: 42px;
}

nav{
	margin-bottom: 170px;
}

ul {
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-around;
}

a{
	cursor: pointer;
	color: #FFFFFF;
	display: block;
	text-decoration: none;
	transition: all 0.3s;
	font-size: 18px;
	line-height: 27px;
/*	filter: blur(0.6px);*/
}

a:hover {
	animation: icon3d 1s infinite;
}

a:active {
	color: black;
}

.nickname {
	font-size: 30px;
}

.header_new_single{
	display: inline-block;
	font-size: calc(25px + 30 * (100vw / 1920));
	line-height: 72px;
	color: rgba(255, 255, 255, 0.7);
	text-shadow: -3px 3px 0px rgba(255,255,255,0.2);
	transition: transform 1s, color 3s ;
}

.title{
	color: rgba(255, 255, 255, 0.8);
	font-size: calc(40px + 70 * (100vw / 1920));
	text-shadow: -6px 6px 0px rgba(255,255,255,0.2);
	transition: transform 1s, color 2s, text-shadow 1s ;
}

.title:hover {
	transition: transform 1s, color 2s, text-shadow 1s;
	transform: translate(100px);
	color:lightcyan;
	text-shadow: -5px 5px 0px #c29dfa,
							-10px 10px 0px #934ffa,
							-15px 15px 0px #6600ff;
}



.header_new_single:hover {
	transition: transform 1s, color 3s ;
	transform: /*rotate(-5deg)*/ translate(100px);
/*	text-shadow: none;*/
	color: lightcyan;

}

@keyframes icon3d {
  0% {
    text-shadow: 5px 4px #c29dfa, -5px -6px #934ffa;
  }
  25% {
    text-shadow: -5px -6px #c29dfa, 5px 4px #934ffa;
  }
  50% {
    text-shadow: 5px -4px #c29dfa, -8px 4px #934ffa;
  }
  75% {
    text-shadow: -8px -4px #c29dfa, -5px -4px #934ffa;
  }
  100% {
    text-shadow: -5px 0 #c29dfa, 5px -4px #934ffa;
  }
}


/*#c29dfa
#934ffa*/

audio {
	width: 100%;
	height: 30px;
	background-color: rgba(1, 1, 1, 0);
}

.header_audio {
	color: #FFFFFF;
	width: 100%;
}

.musicBar {
	display: flex;
}

.musicBarBox{
	display: flex;
	margin-right:30px;
}

.musicBarBtn{
	width: 50px;
	height: 50px;
	cursor: pointer;
	transition: filter 0.4s;
	
}

.musicBarBtn:hover {
	filter: drop-shadow(0 0 5px white);
	transition: filter 0.4s;
}

.musicBarBtn:active {
	transform: scale(0.9);
	filter: blur(1px);
}

.musicBarProgress{
	display: flex;
	align-items: center;
	width: 100%;
}

/*progress {
	cursor: pointer;
	width: 100%;
	height: 10px;
}*/

.progress {
	cursor: pointer;
  width: 100%;
  height: 6px;
  background: #e1e4e8;
  border-radius: 3px;
  overflow: hidden;
}


.progress_bar{
	cursor: pointer;
	width: 0;
  display: block;
  height: 100%;
  background: cyan;
}

.news {
	margin-top: 200px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.news_box{
	width: 30%;
	height: 300px;
	min-width: 220px;
	border-radius: 20px 0 20px 0;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: end;
	flex-direction: column;
	transition: transform 0.5s, box-shadow 0.5s;
}

.news_box:hover {
/*	transform: scale(1.005);*/
	box-shadow: -10px -10px 5px rgba(194, 157, 250, 0.3);
}

.news_box:hover > .news_box_text{
	min-height: 60%;
}


.nb1{
	background-image: url('source/glitch-image-1656764295.png');
}

.nb2{
	background-image: url('https://images.unsplash.com/photo-1506091403742-e3aa39518db5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cm9jayUyMG11c2ljfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
}

.nb3{
	background-image: url('source/glitch-image-1656764295.png');
}

.news_box_text {
	transition: min-height 0.5s;
	padding: 3%;
	text-shadow: 0px 0px 5px black;
	font-size: 1.1rem;
	background: rgba(194, 157, 250, 0.7);
	min-height: 30%;
	max-height: 30%;
	text-align: center;
	color: lightgray;
	font-weight: 700;
	border-radius: 20px 0 20px 0;
	overflow: hidden;
}

main{
	margin-top: 10%;
}

.about{
	margin: 0 auto;
	width: 57%;
	height: 800px;
	display: flex;
	justify-content: space-between;
}

.about_text {
	color: #FFFFFF;
	width: 57%;
}

.about_text:hover {
/*	background-color: rgba(255,255,255, 0.2)*/
}

.about_title {
	display: flex;
	grid-gap: 30px;
	font-size: 49px;
	margin-bottom: 60px;
	text-shadow: -6px 6px 0px rgba(255,255,255,0.2);
}

.about_title img{
	width: 64px;
	object-fit: contain;
}

.about_main {
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	color: #FFFFFF;
	opacity: 0.7;
	margin-bottom: 61px;
}
.about_facts {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap:  33px 0;
}
.about_fact {
	font-family: sans-serif;
	display: flex;
	align-items: center;
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
	text-shadow: -3px 3px 0px rgba(255,255,255,0.2);

}

.about_fact img{
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

.about_img {
	width: 40%;
	position: relative;
}

.about_img  div{
	width: 80%;
	height: 400px;
	border-radius: 20px 0 20px 0;
	overflow: hidden;
}


.img_about_1 {
	top: 60px;
	left: 40px;
	position: absolute;
	z-index: 1;

}
.img_about_2 {
	top: 20px;
	position: absolute;
	z-index: 5;
}



.img_about_1 img, .img_about_2 img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.playlist {
	margin: 0 auto;
	width: 57%;
	height: 800px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	color: white;
}
.playlist_image {
	width: 430px;
	height: 430px;
	border-radius: 50%;
	overflow: hidden;
	border: solid 17px rgba(122, 102, 204, 0.7);
  outline: solid 17px rgba(122, 102, 204, 0.3);
}

.playlist_image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.playlist_tracks span {
	font-weight: 700;
}







.follow-cursor {
  display: block;
  width: 30px;
  height: 30px;
  border: 2px solid lightcyan;
  box-shadow: 0 0px 5px lightcyan;
  border-radius: 50%;
  transform: translateY(-50%) translateX(-50%); /* центрируем кружок */
  position: absolute; /* задаём абсолютное позиционирование, чтобы элемент не влиял на остальные элементы и его можно было бы позиционировать следом за курсором */
  z-index: 999; /* чтобы элемент был над остальными элементами */
  pointer-events: none; /* чтобы сквозь элемент можно было взаимодействовать с элементами, находящимися под ним */
  transition: width 0.64s, height 0.64s, border-radius 0.64s, background 0.64s;
}


@media screen and (max-width: 1280px) {
	.header_container{
		width: 80%;
	}
	.about{
		width: 80%;
	}
	.playlist{
		width: 80%;		
	}
}

@media screen and (max-width: 900px) {
	nav {
	  margin-bottom: 70px;
	}
	.header_container li {
		display: none;
	}
	.title {
		margin-bottom: 12%;
	}
	.news{
		margin-top: 90px;
		justify-content: center;
		gap: 20px;
	}
	.news_box{}
	.about{
		height: auto ;
		flex-direction: column;
	}
	.about_text{
		width: 100%;
	}
	.about_img{
		gap: 15px;
		margin-top: 12%;
		width: 100%;
		display: flex
	}
	.about_img  div{
		height: 300px;
		position: initial;
	}
	.about_img img{
		height: 80%;
	}
	.playlist_image {
		width: 100px;
		height: 100px;
		border: solid 3px rgba(122, 102, 204, 0.7);
  	outline: solid 3px rgba(122, 102, 204, 0.3);
	}
	.playlist {
		height: auto ;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
}
